.movieCard {
  margin: 0;
  padding: 1.5vw;
  border: 0.1vw solid #f3ecec;
  border-top: 0;
}

.movieCard h4 {
  font-weight: 400;
}

.movieCard .fav {
  margin-top: 0.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}

.movieCard .fav p {
  color: rgb(179, 167, 167);
}

.movieCard .fav .heart {
  color: #ff0000;
}

.movieCard .fav button {
  display: flex;
  gap: 0.2vw;
  border: none;
  background: none;
}
@media all and (max-width: 450px) {
  .movieCard {
    padding: 0.8vw;
  }
  .movieCard .fav button {
    font-size: 0.8vw;
  }
}
